<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.UserMapper">

	<select id="login" resultType="UserVO">
		select uid , upw ,
		uname,uaddr,utel from user
		where uid = #{uid}
		and upw = #{upw}
	</select>
	<insert id="join">
		insert into
		user(uid,upw,uname,uaddr,utel)
		values(#{uid},#{upw},#{uname},#{uaddr},#{utel})
	</insert>
	<select id="idCheck" resultType="UserVO">
		select uid from user
	</select>
	<delete id="dropout">
		delete from user where uid = #{uid}
	</delete>

	<update id="changePW">
		update user set upw = #{upw} where uid = #{uid}
	</update>

	<select id="selectuser" resultType="UserVO">
		select * from user where uid
		= #{uid}
	</select>

	<update id="updatemem">
		update user set uaddr=#{uaddr},utel=#{utel} where
		uid=#{uid}
	</update>
	<select id="selectAllmember" resultType="UserVO">
		select * from user
	</select>
</mapper>